.pdfUploadArea {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.pdfUploadArea .pdfUploadForm {
  justify-content: center;
  align-items: center;
}

.pdfUploadForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 8px;
  text-align: center;
  gap: 1rem;
  box-shadow: 4px 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.pdfUploadButton {
  background-color: #000000;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  border: 0;
}

.pdfUploadButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.arrowIcon {
  font-size: 2.5rem;
  cursor: pointer;
}

.arrowIconContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.pdfUploadFile {
  display: block;
  text-align: center;
}

.uploadButtonContainer input {
  display: none;
}

.uploadButtonContainer {
  display: flex;
  flex-direction: column;
}

.uploadButtonContainer label {
  cursor: pointer;
  display: block;
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  display: flex;
}

.uploadButtonContainer label:hover {
  opacity: 0.8;
  cursor: pointer;
}

.uploadIcon {
  font-size: 1.5rem;
  padding: 0px 10px;
}

.uploadStatus.success {
  color: #037305;
}

.uploadStatus.error {
  color: #991d1d;
}
